.box-layout {
  background: linear-gradient(to bottom right , rgba(19, 18, 18, 0.70), rgba(7, 7, 7, 0.78)),
    /* bottom, image */ url("/images/coins.jpg");
  height: 100vh;
  width: 99.9vw;
  background-size: cover;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-layout__box {
  background: fade-out($color: white, $amount: 0.15);
  padding: 40px 25px;
  display: grid;
  border-radius: 20px;
  text-align: center;
  border: 1px solid #272727;
}

.box-layout__box h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.box-layout__title {
  font-size: 35px;
  line-height: 1;
}

.box-layout__paragraph {
  font-size: 20px;
}
