.button {
  border-radius: 10px;
  padding: 15px 5px;
  font-size: 20px;
  background: #272727;
  color: white;
  margin-bottom: 10px;
  transition: all 0.2s;
  outline: none;
}
.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
}
.button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}
