.button {
  border-radius: 10px;
  padding: 15px 10px;
  font-size: 20px;
  background: $secondary-purple;
  color: white;
  margin-bottom: 10px;
  transition: all 0.2s;
  outline: none;
  font-weight: 300;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  border: none;
}
.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
}
.button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}

.button--link {
  background: none;
}
