
//sizes
$s-size: 1.2rem;
$m-size: 1.6rem; //medium size
$l-size: 3.2rem; //large size
$xl-size: 4.8rem; //extra large size

//Colors
$primary-purple: #4C1E59;
$secondary-purple: #78308C;

//Spacing
$desktop-breakpoint: 45rem;